<header>
  <h1>Blog CMS</h1>
  {{#if logged_in}}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  {{/if}}
</header>
<main>
  {{#each posts}}
    <article>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <small>By {{user.username}} on {{createdAt}}</small>
    </article>
  {{/each}}
</main>
